.home .header
  margin-bottom: 30px

.home .section
  @extend .row
  margin-bottom: 100px

/*-------------------------
/* First section
/*-----------
/* Showcases featured articles,
/* an advertising sidebar &
/* the latest 4 posts from the blog.
/*------------------------*/

.home .main
  @extend .col

/*-------------------------
/* Featured article
/*------------------------*/

// .home #posts


.home article.featured
  position: relative
  margin-bottom: 50px

.home article.featured .entry-content
  @extend .col
  +breakpoint($xl)
    display: inline-block
    background: white
    position: absolute
    left: 55%
    top: 10%
    border: 1px solid $gray-lighter
    border-bottom: 1px solid $black
    box-shadow: 0px 4px 0px $black
    width: 45%
    padding: 20px
    padding-bottom: 0px

.home article.featured .entry-image
  +breakpoint($xl)
    max-width: 75%
  //   margin-right: 20px
  padding: 0px
  img
    width: 100%
    height: auto

.home article.featured .entry-title
  font-size: 36px
  position: relative
  line-height: 1
  text-transform: uppercase
  letter-spacing: 1px
  font-style: italic
  a
    color: white
    padding: 2px
    padding-left: 2px
    padding-right: 5px
    /* Needs prefixing */
    display: inline
    color: $black
    &:hover
      text-decoration: underline


/*-------------------------
/* Latest Articles
/*------------------------*/
.home .latest
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: flex-start
  margin-top: 20px

.home .latest .section-title-wrap
  margin-bottom: 20px

.home .latest-container
  @extend .row

.home .latest-container article
  @extend .col-md-6
  margin-bottom: 20px
  .entry-image
    width: 100%
    height: 300px
    overflow: hidden
    margin-bottom: 20px
    img
      object-fit: cover
      width: 100%
      height: 100%

.home .section-title-wrap
  @extend .col-9
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-items: flex-end
  padding-left: 0px
  padding-right: 40px

.home .section-title-wrap.books-title-wrap
  @extend .col
  padding-left: 0px
  padding-right: 0px
  margin-bottom: 20px

.home .see-more-btn
  margin-left: 14px


/*-------------------------
/* Books section
/*-----------
/* Showcases books in a carousel
/*------------------------*/

.home #books
  position: relative
  @extend .col

.home #books .carousel
  position: relative
  width: 100%
  margin-left: -12px
  margin-right: -12px
  .slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background: white
    border: 0px solid transparent
    border-bottom: 4px solid $black
    font-family: $cond
    text-transform: uppercase
    font-style: italic
    letter-spacing: 1px
    z-index: 10
    padding: 10px
  .slick-next
    right: -20px
  .slick-prev
    left: -20px

.advertisement-title
  text-transform: uppercase
  letter-spacing: 1px
  font-family: $trade-gothic
  color: $gray-light
  text-align: center
.advertisement
  width: 100%
  img
    width: 100%

#sidebar-editors-picks
  .sidebar-item
    // padding: 15px
    // background: lighten($gray-lighter, 5%)
    margin-bottom: 50px
  h2
    font-family: $cond
    @extend .special-header
    font-size: 2rem
  .picks
    margin-top: 12px
  .pick
    width: 100%
    margin-bottom: 30px
    img
      width: 100%
      object-fit: cover
      height: 100%
      margin-bottom: 12px
  .pick-title
    font-family: $font-family-sans-serif
    font-weight: bold
    font-size: 1.3rem
    margin-bottom: 0.5rem
    &:hover
      text-decoration: underline
      text-decoration-color: $gray-dark
  p
    font-size: .9rem
