$navy: #010266;
$cyan: #0BB4C9;


// New Colors
$cyan: #08A3C6;
$orange: #ED8B64;
$black: #1E1E25;

$gray-base: #000000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 70%);
$gray-lighter: #E6E6E6;

$brand-primary: $black;
$brand-success: #5cb85c;
$brand-info: $cyan;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$sm: 560px;
$md: 820px;
$lg: 1100px;
$xl: 1300px;

// $container-max-widths: (
//   sm: $sm,
//   md: $md,
//   lg: $lg,
//   xl: $xl
// );


$font-family-sans-serif: 'Roboto';
