// Article defaults
.entry-title
  font-family: $roboto
  font-weight: 900
  letter-spacing: -0.5px
  margin-bottom: .7rem

.entry-meta
  display: flex
  flex-direction: row
  color: $gray-light
  margin-bottom: .7rem
  p
    margin-bottom: 0.5rem

.author
  font-family: $font-family-sans-serif
  color: $gray-light

.author a
  color: $gray-dark
  &:hover
    color: $black

time
  font-family: $trade-gothic
  text-transform: uppercase
  letter-spacing: 1px
  margin-right: 10px

.tags
  margin-left: 10px
  text-transform: uppercase
  font-family: $trade-gothic
  color: $gray-dark
  &:hover
    color: $brand-info



.entry-image
  max-width: 100%
  margin-bottom: 1rem
  img
    width: 100%
    height: auto


.home article.featured .entry-title
  font-size: 30px

.home .entry-title
  font-size: 26px
